/FuzzyApp/nbproject/private/
/FuzzyApp/build/
/NegocieCoinsAPI/nbproject/private/
/NegocieCoinsAPI/build/
/NegocieCoinsAPI/dist/
/NegocieCoinsPHPAPI/nbproject/private/
/nbproject/private/
/build/